
img {
  border-radius:115px 50px 30px 5px;
  width: 300px;
  height: 400px;
  object-fit: cover;
}

/*
  Temporary soln
*/
/* Hide top-level generated page title (site header) */
h1 {
  display: none !important;
}
