<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{if hasplotly}} <script src="/libs/plotly/plotly.min.js"></script> {{end}}

  <link rel="stylesheet" href="/css/franklin.css">
  {{if hasmdpad}} <link rel="stylesheet" href="/css/mdpad.css"> {{end}}
  {{if hasmath}} <link rel="stylesheet" href="/libs/katex/katex.min.css"> {{end}}
  {{if hascode}} <link rel="stylesheet" href="/libs/highlight/styles/github.css"> {{end}}
   {{isdef title}} <title>{{insert title.html}}</title>  {{end}}
</head>
<body>
<!-- Content appended here -->
<!-- {{insert image.html}} -->
